# vs code
.vscode/

# MACOS
.DS_store

# rust
rustic

# js
node_modules
htmls

# Go
app
target
sqlite3.db
testdata/
vendor/
plugin.so

# external
data/
xd/
discovery
target

# python
lib
bin
include
__pycache__/

# c
a.out
client
server
.idea/
debug.test
app
main
cmake-build-debug/
